table, th, td {
  border: 1px black solid;
}

table {
  width: 600px;
  height: 300px;
  margin: 10px auto;
  border-collapse: collapse;
}

table > tbody > tr > td {
  text-align: center;
  background-color: antiquewhite;
}

table > thead > tr > th {
  padding: 10px;
  color: brown;
}

table > tbody > tr > th {
  padding: 14px;
}