@media (max-width: 768px) {
  /* Show Hide Section */
  /* #intro,
  #header, */
  /* #about, */
  /* #html, */
  /* #css, */
  #curriculum,
  #contact,
  #footer {
    display: none;
  }

  /* Intro */
  .intro {
    width: 100%;
    height: auto;
  }
  .intro_dark {
    position: static;
  }
  .intro_type {
    font-size: 1.5em;
    margin: 100px auto;
  }

  /* Header */
  .header {
    height: 50px;
  }
  .header_logo {
    height: auto;
  }
  .header_nav-item {
    font-size: 0.5em;
    height: 50px;
  }
  .header_nav-item:hover::after {
    height: 2px;
  }
  .header_nav-item a {
    height: auto;
    line-height: 50px;
  }
  /* About */
  .about {
    margin-top: 0;
  }
  .about_card {
    padding: 10px 40px;
  }
  /* .about .slick-prev:before, .about .slick-next:before {
    color: #ffffff;
  } */
  /* Html */
  #html {
    grid-column: 1 / -1;
  }
  .html-css {
    gap: 0;
    display: flex;
    flex-direction: column;
  }
  .html-css_spec dd {
    margin-left: 32px;
  }
  /* CSS */
  #css {
    grid-column: 1 / -1;
  }
}
