body {
  width: 500px;
  margin: 10px auto;
}

fieldset {
  width: 250px;
}

#wrap {
  width: 240px;
  text-align: center;
}

legend {
  text-align: center;
}

.title {
  color: lightseagreen;
  font-weight: bold;
}

#btn {
  width: 250px;
  text-align: center;
  margin-top: 12px;
  margin-left: 10px;
  padding: 5px 10px;
}

button {
  padding: 5px 10px;
}