body {
  padding: 20px;
}
.App {
  margin: 0 auto;
  width: 500px;
}
section {
  padding: 20px;
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(245, 245, 245);
  border-radius: 5px;
  margin-bottom: 10px;
}
