.toggle_btn {
  background-color: #000;
  color: #fff;
}
.wrap {
  width: 500px;
  height: 300px;
  margin: 0 auto;
  margin-top: 300px;
  position: relative;
}
#button {
  position: absolute;
  right: 0;
  top: 10px;
}