/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

/* Container */
body {
  background-color: rgba(144, 166, 238, 0.3);
}
#container {
  background-color: white;
  width: 500px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  margin: 300px auto;
}

/* Header */
.navigation {
  width: 100%;

  display: flex;
  justify-content: space-around;

}
.navigation a {
  margin: 30px 0;
}
.navigation a:first-child {
  margin-right: 300px;
}

/* Profile */
.profile {
  text-align: center;
}
.profile_main img {
  border-radius: 50%;
  margin-bottom: 25px;
  width: 300px;
  height: 300px;

  box-shadow: 3px 3px 10px rgba(144, 166, 238, 0.5);
}
.profile_main h1 {
  font-size: 30px;
  margin-bottom: 5px;
}
.profile_main p {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 25px;
}
.profile_main button {
  width: 280px;
  height: 50px;

  background-color: rgba(144, 166, 238, 0.5);
  border-radius: 30px;
  border: none;
  box-shadow: 5px 5px 10px rgba(82, 117, 233, 0.5);

  margin-bottom: 35px;
}
.profile_main a {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* Proflie Info */
.profile_info ul {
  width: 300px;
  margin: 0 auto;

  font-size: 18px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9)
}
.profile_info li {
  padding: 15px 0;
}
.profile_info i {
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.5);
}
.profile_info li:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* Footer */
.footer_btn {
  display: flex;
  justify-content: space-evenly;
  
  margin: 30px 0;
}
.footer_btn a {
  width: 60px;
  height: 60px;
  background-color: beige;
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

  margin-bottom: 50px;
}
.footer_btn a:nth-child(1) {
  background-color: rgba(144, 166, 238, 0.5);
}
.footer_btn a:nth-child(2) {
  background-color: rgba(152, 235, 57, 0.5);
}
.footer_btn a:nth-child(3) {
  background-color: rgba(233, 45, 92, 0.5);
}
.footer_btn a:nth-child(4) {
  background-color: rgba(208, 10, 248, 0.5);
}