@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap');

htlml,
body {
  font-family: "Nanum Pen Script";
  margin: 0;
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
}
body {
  height: 100%;
}
#root {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: #fff;
  padding: 15px;
}