/* header */
body {
  width: 980px;
  margin: 10px auto; 
}
#main_header {
  position: relative;
}
#main_header .logo {
  position: absolute;
  top: 10px;
  left: 15px;
}
#main_header .login_menu {
  position: absolute;
  top: 10px;
  right: 0;
}
.login_menu a {
  display: inline-block;
  width: 70px;
  text-align: center;

  color: black;
}