@import url(/reset.code/reset.css);

/* Header */
body {
  width: 980px;
  margin: 10px auto;
}

#main_header {
  position: relative;
}

#main_header .logo {
  position: absolute;
  left: 15px;
  top: 10px;
}

#main_header .login_menu {
  position: absolute;
  right: 0;
  top: 10px;
}

.login_menu a {
  display: inline-block;
  text-align: center;
  padding-left: 10px;

  width: 70px;
  color: #000;
}

/* Aside */

body {
  position: relative;
}

#global_aside {
  position: relative;
  left: 990px;
  top: 75px;
  width: 90px;
}

#global_aside > a {
  margin-bottom: 5px;
  display: inline-block;
}

/* Navigation top*/

#top_gnb {
  position: absolute;
  top: 75px;
  overflow: hidden;
}

#top_gnb .menu {
  float: left;
  width: 140px;
  height: 50px;
  background: url(../img/css_sprites_top.png);
}

/* Navigation top_before*/

#top_gnb .item1 {
  background-position: 0 0;
}

#top_gnb .item2 {
  background-position: 0 -50px;
}

#top_gnb .item3 {
  background-position: 0 -100px;
}

#top_gnb .item4 {
  background-position: 0 -150px;
}

#top_gnb .item5 {
  background-position: 0 -200px;
}

#top_gnb .item6 {
  background-position: 0 -250px;
}

#top_gnb .item7 {
  background-position: 0 -300px;
}

/* Navigation bottom*/